doctype html
head
    meta(charset='UTF-8')
    title Login Page Game Catch by Stanislav
    link(rel='stylesheet' href='/styles.css' type='text/css')
include includes/header
h1(class='modal__title') Please Log In
form(class='modal__form' action='/auth/login' method='post')
    label(for='login-input') Login :
    input(id='login-input'
        class='input'
        name='login'
        type='text'
        value=''
        placeholder='Enter your login'
        pattern="[a-z0-9]+"
        title="Only small Latin letters and numbers allowed!"
        required)
    label(for='pass-input') Password :
    input(id='pass-input'
        class='input'
        name='password'
        type='password'
        value=''
        placeholder='Enter your password'
        required)
    input(class='button' type='submit' value='Log in')
    a(class='link button' href='/auth/signup') Sign Up
    if(error.message)
        p(style={color: 'red'})=error.message